//////////////////////////////////////////////////////////////////////
// Basic form element styling
//////////////////////////////////////////////////////////////////////

label {
  font-family: $heading-font-family;
  font-weight: 300;
  font-size: 16px;
  color: $dark-grey;
}

input, 
textarea,
select {
  border-radius: 0;
  border: 1px solid $primary-color;
  font-family: $heading-font-family;
  font-size: 16px;
  color: $dark-grey;
  padding: 10px;
  font-weight: 300;
  width: 100%;

}

select {
  appearance: none;
  background-image: url('/themes/custom/wtheme/img/caret-down.svg');
  background-size: 12px 12px;
  background-position: center right 16px;
  background-repeat: no-repeat;
}

fieldset {
  border: 1px solid $primary-color !important;
  padding: 10px !important;
}

fieldset .fieldset-legend { color: $primary-color; }

fieldset .fieldset-wrapper .form-item:first-child {
  margin-top: 0;
}

legend {
  font-family: $heading-font-family;
  color: $dark-grey;
  span {
    font-size: 16px;
    font-weight: 300;
  }
}

// Outline

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
textarea,
select {
  &:focus {
    outline: 1px solid $primary-color;
  }
}

// Submit

input[type="submit"],
button {
  width: auto;
  @include link-as-button;
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

// Safari fix (https://stackoverflow.com/a/60846667)

textarea,
input:matches(
  [type="email"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="url"]
) {
  -webkit-appearance: none;
}

//////////////////////////////////////////////////////////////////////
// Drupal webform styling
//////////////////////////////////////////////////////////////////////

.webform-submission-form {
  .description {
    font-family: $base-font-family;
    font-style: italic;
    color: $medium-grey;
  }
}

.webform-submission-form {
  .form-type-checkbox,
  .form-type-radio {
    display: inline-block;
    margin-right: 20px;
  }
}

// Radio buttons styling

.form-item.form-type-radio {
  position: relative;
  margin-bottom: 0;
}

.form-item.form-type-radio > input {
  appearance: none;
  opacity: 0;
  position: absolute;
  top: 50%;
  margin-top: -2rem;
  left: 0;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.form-item.form-type-radio > label {
  display: inline-block;
  position: relative;
  margin: 5px 0;
  padding-left: 30px;
  cursor: pointer;
}

.form-item.form-type-radio > label:after,
.form-item.form-type-radio > label:before {
  content: "";
  display: block;
  position: absolute;
}

.form-item.form-type-radio > label:before {
  top: 50%;
  margin-top: -12px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid $primary-color;
  border-radius: 50%;
  background-color: transparent;
  transition: border-color .2s ease;
}

.form-item.form-type-radio > label:after {
  width: 0;
  height: 0;
  top: 11px;
  left: 6px;
  border: 5px solid $primary-color;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  transition: opacity .2s ease, visibility .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
  transition: opacity .2s ease, visibility .2s ease, transform .2s ease, -webkit-transform .2s ease;
  transform: scale(.7) translateY(-50%);
  font-size: 0;
}

.form-item.form-type-radio > input:focus + label:before {
  outline: 2px solid $primary-color;
}

.form-item.form-type-radio > input:checked + label:after,
.form-item.form-type-radio > input:focus + label:after {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(-50%)
}


// Checkbox styling

.form-item.form-type-checkbox {
  position: relative;
}

.form-item.form-type-checkbox > input {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.form-item.form-type-checkbox > label {
  display: inline-block;
  position: relative;
  margin: 5px 0;
  padding-left: 30px;
  cursor: pointer;
}

.form-item.form-type-checkbox > label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid $primary-color;
  background-color: transparent;
  transition: border-color .2s ease;
  color: $primary-color !important;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.form-item.form-type-checkbox > input:focus + label:before {
  outline: 1px solid $primary-color;
}

.form-item.form-type-checkbox > input:checked + label:before {
  content: "";
  background-size: 12px 8px;
  background-image: url('/themes/custom/wtheme/img/check.svg');
  background-position: center center;
  background-repeat: no-repeat;
}
